@import "variables";
.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6em;
  text-align: left;
  color: #111;
  max-width: 750px;
}

.dark-mode .archive {
  color: $dark-font;
}